<div>
	<p>this is home page.</p>
	<div class="row">
		<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
			<ul>
				<li ng-repeat="event in data.events.content.text">
					<p ng-bind="event.content + event.createAt"></p>
				</li>
			</ul>
		</div>
		<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
			<ul>
				<li ng-repeat="user in data.users" ng-click="sendToSomeone(user)">
					<p ng-bind="user.username"></p>
				</li>
			</ul>
		</div>
	</div>
	<button ng-click="sendMsg()">Hi,yi</button>
</div>